body{
    background-size: cover;
}

.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

#status, #number_of_objects, #status{
    font-size: 18px;
}

.copy_right_footer{
    bottom: 0;
    position: fixed;
    color: gray;
    background-color: white;
    width: 100%;
    text-align: center;
    line-height: 3;
}

canvas{
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px white;
    margin-top: 100px;
}